@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using BleakwindBuffet.Data;
@using BleakwindBuffet.Data.Enums;
@using BleakwindBuffet.Data.Entrees;
@using BleakwindBuffet.Data.Sides;
@using BleakwindBuffet.Data.Drinks;

<!--
    Author: Ethan Tucker
    Class: Index.cshtml
    Purpose: Define the contents of the Index page
-->

<!--This row will contain the page title and the welcome message-->
<div class="row">
    <div class="col-lg">
        <!--The title of the index page-->
        <h1 class="display-4 text-center">Welcome to Bleakwind Buffet</h1>
        <!--The page greeting message-->
        <p>
            We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
            Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas.
            Hack into a Smokehouse Skeleton with your dagger.
            Or vanquish the the mighty Thalmor Triple Burger!
            You’ve had a hard adventure and earned your loot, so spend it with us!
        </p>
    </div>
</div>

<!--This row will contain the search and filter forms-->
<div class="row">
    <div class="col-lg">
        <!--Create a card around the filters-->
        <div class="card">
            <!--Card heading text-->
            <div class="card-header">
                Find the perfect menu item
            </div>
            <!--Card body containing the form-->
            <div class="card-body">
                <!--Actual form element-->
                <form>
                    <!--This form row contains the price and calorie parameters-->
                    <div class="form-row">
                        <!--Minimum price field-->
                        <div class="form-group col-lg-3 col-md-6">
                            <label for="minPriceNumber">Minimum Price</label>
                            <input name="MinPrice" value="@Model.MinPrice" type="number" class="form-control" id="minPriceNumber" placeholder="Minimum Price" min="0" max="10" step="0.01"/>
                        </div>
                        <!--Maximum price field-->
                        <div class="form-group col-lg-3 col-md-6">
                            <label for="maxPriceNumber">Maximum Price</label>
                            <input name="MaxPrice" value="@Model.MaxPrice" type="number" class="form-control" id="maxPriceNumber" placeholder="Maximum Price" min="0" max="10" step="0.01"/>
                        </div>
                        <!--Minimum calories field-->
                        <div class="form-group col-lg-3 col-md-6">
                            <label for="minCaloriesNumber">Minimum Calories</label>
                            <input name="MinCalories" value="@Model.MinCalories" type="number" class="form-control" id="minCaloriesNumber" placeholder="Minimum Calories" min="0" max="1000" step="1"/>
                        </div>
                        <!--Maximum calories field-->
                        <div class="form-group col-lg-3 col-md-6">
                            <label for="maxCaloriesNumber">Maximum Calories</label>
                            <input name="MaxCalories" value="@Model.MaxCalories" type="number" class="form-control" id="maxCaloriesNumber" placeholder="Maximum Calories" min="0" max="1000" step="1"/>
                        </div>
                    </div>

                    <!--Form row for menu item types-->
                    <div class="form-row">
                        <!--Entree checkbox-->
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input name="IncludeEntrees" checked="@Model.IncludeEntrees" class="form-check-input" type="checkbox" id="entreeCheck">
                                <label class="form-check-label" for="entreeCheck">
                                    Entrees
                                </label>
                            </div>
                        </div>
                        <!--Side checkbox-->
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input name="IncludeSides" checked="@Model.IncludeSides" class="form-check-input" type="checkbox" id="sideCheck">
                                <label class="form-check-label" for="sideCheck">
                                    Sides
                                </label>
                            </div>
                        </div>
                        <!--Drink checkbox-->
                        <div class="form-group col-md-4">
                            <div class="form-check">
                                <input name="IncludeDrinks" checked="@Model.IncludeDrinks" class="form-check-input" type="checkbox" id="drinkCheck">
                                <label class="form-check-label" for="drinkCheck">
                                    Drinks
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--Form row for search box and submit button-->
                    <div class="form-row align-items-end">
                        <!--Search text box-->
                        <div class="form-group col-md-8">
                            <input name="SearchTerms" value="@Model.SearchTerms" type="text" class="form-control" id="searchText" placeholder="Name">
                        </div>
                        <!--Submit button-->
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--This row will contain all the items on the menu-->
<div class="row">
    <!--This column will contain all the entrees-->
    <div class="col-md">
        <h2 class="display-4">Entrees</h2>
        <!--Iterate over all the entrees in the menu-->
        @foreach (Entree entree in Model.FilteredEntrees)
        {
            <!--Display each entree in a menu-item div-->
            <div class="menu-item">
                <h3>@entree.BaseName</h3>
                <ul class="list-unstyled">
                    <li>Price: $@entree.Price</li>
                    <li>Calories: @entree.Calories</li>
                </ul>
            </div>
        }
    </div>

    <!--This column will contain all the sides-->
    <div class="col-md">
        <h2 class="display-4">Sides</h2>
        <!--Iterate over all the sides in the menu-->
        @foreach (Side side in Model.FilteredSides)
        {
            <!--Display each side in a menu-item div-->
            <div class="menu-item">
                <h3>@side.BaseName</h3>
                <ul class="list-unstyled">
                    <!--Iterate over all the possible sizes-->
                    @foreach (Size size in Enum.GetValues(typeof(Size)))
                    {
                        <!--Set the side to that size, and then display its price and calories-->
                        side.Size = size;
                        <li>Price (@size): $@side.Price</li>
                        <li>Calories (@size): @side.Calories</li>
                    }
                </ul>
            </div>
        }
    </div>

    <!--This column will contain all the drinks-->
    <div class="col-md">
        <h2 class="display-4">Drinks</h2>
        <!--Iterate over all the drinks in the menu-->
        @foreach (Drink drink in Model.FilteredDrinks)
        {
            <!--Display each drink in a menu-item div-->
            <div class="menu-item">
                <h3>@drink.BaseName</h3>
                <ul class="list-unstyled">
                    <!--Iterate over all the possible sizes-->
                    @foreach (Size size in Enum.GetValues(typeof(Size)))
                    {
                        <!--Set the drink to that size, and then display its price and calories-->
                        drink.Size = size;
                        <li>Price (@size): $@drink.Price</li>
                        <li>Calories (@size): @drink.Calories</li>
                    }
                </ul>
                <!--Display the list of flavors if this drink is a Sailor Soda-->
                @if (drink is SailorSoda)
                {
                    <h5>Available Flavors</h5>
                    <ul class="list-unstyled">
                        <!--Iterate over all the possible flavors-->
                        @foreach (SodaFlavor flavor in Enum.GetValues(typeof(SodaFlavor)))
                        {
                            <li>@flavor</li>
                        }
                    </ul>
                }
            </div>
        }
    </div>
</div>

<!--This row will contain a description of the combo deal-->
<div class="row">
    <div class="col-lg">
        <h2 class="display-4">Combos</h2>
        <p>Any Entree, Side, and Drink can be combined into a combo with a $1.00 discount.</p>
    </div>
</div>
